/* 主页标题渐变色 */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
}

/* 添加 SourceCodePro 字体 https://github.com/adobe-fonts/source-code-pro */
@font-face {
  font-family: SourceCodePro;
  src: url(../font/SourceCodePro.ttf);
}

/* 添加草莓蜜糖甜甜酥字体 */
@font-face {
  font-family: custom;
  src: url(../font/草莓蜜糖甜甜酥.ttf);
}

/* layout 为 doc 时更换字体  */
.vp-doc p,
li {
  font-family: 'SourceCodePro', 'custom';
}

code {
  font-family: 'SourceCodePro';
}

/* 重点句子渐变色 */
.vp-doc i{
  font-style: none;
  background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* -------------------------------------- */

.linear-color {
  /* background -> background-clip -> color 顺序不能乱, color 和 -webkit-text-fill-color 都可以 */
  background: -webkit-linear-gradient(120deg, #13b2c1, #d2cf16);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* -webkit-text-fill-color: transparent; */
}
