/* 主页标题渐变色 */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
}

/* 添加日系可爱情书体 https://font.chinaz.com/22111054169.htm */
@font-face {
  font-family: custom;
  src: url(../font/草莓蜜糖甜甜酥.ttf);
}

/* layout 为 doc 时字体更换  */
.vp-doc p,
li {
  font-family: custom;
}

.vp-doc p {
  font-size: 18px;
}

/* -------------------------------------- */

:root {
  --light-theme-color-1: indianred;
}

:root.dark {
  --light-theme-color-1: rgb(28, 203, 194);
}

.linear-color {
  /* background -> background-clip -> color 顺序不能乱, color 和 -webkit-text-fill-color 都可以 */
  background: -webkit-linear-gradient(120deg, #13b2c1, #d2cf16);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* -webkit-text-fill-color: transparent; */
}

.color1 {
  color: var(--light-theme-color-1)
}
